@import "tailwindcss";

@theme {
  --color-neon-cyan: #22d3ee;
  --color-neon-purple: #a855f7;
  --color-neon-emerald: #34d399;
  --color-panel-strong: #0a0a0f;
  --color-panel: #121215;
  --color-panel-border: rgba(34, 211, 238, 0.2);
}

@layer base {
  body {
    @apply bg-panel-strong text-slate-300 font-sans;
  }
}
